@import "~element-ui/lib/theme-chalk/index.css";
@import "~element-ui/lib/theme-chalk/display.css";

$mainColor: #2E54EB !default;
$bgColor: #F2F3F8 !default;
$borderColor: #ebeef5 !default;
$fontColor:#333;
$fff:#fff;
$hover-border-color:#ccc;
$green:#11BC70;
$red:#E71717;

/* 改变主题色变量 */
$--color-primary:$mainColor;


/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";



// 


// #app{
//     .el-table td, .el-table th.is-leaf{
//         border-color: $borderColor;
//     }.el-table td

// } 

#app{
    /* 修改表格头部的样式 */ 
    .el-table th.is-leaf {
        font-weight: normal;
        color: #333333;
    }

    /* 更改element-UI按钮样式 */
    .el-button--default{
        border-color: $mainColor;
        color: $mainColor;
        &:hover,&:focus{
            border-color: $mainColor;
            color:$mainColor;
        }
    }

    .el-button--info{
        border-color: $borderColor;
        color: $fontColor;
        background: $fff;
        &:hover,&:focus{
            border-color: $hover-border-color;
            color: $fontColor;
            background: $fff;
        }
    }

    /* 更改分页的样式  */

    .el-pagination.is-background .el-pager li:not(.disabled).active{
        color: $mainColor;
        border-color: $mainColor;
        background-color: $fff;

    }

    .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
        background-color: $fff;
        border: 1px solid $hover-border-color;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 4px;
        &:hover{
            color: $mainColor;
        }
    }
    .el-pagination button, .el-pagination span:not([class*=suffix]){
        height: 40px;
        line-height: 40px;
    }
    .el-pagination__editor.el-input .el-input__inner{
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .elpage .el-pagination{
        white-space: normal;
    }

}